/* LoadingButton.css */
.buttonContainer {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .button {
    position: relative;
    padding: 10px 20px;
    background-color: #008CBA; /* Blue */
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 8px;
    transition: background-color 0.3s ease;
  }
  
  .button:hover {
    background-color: #0073e6; /* Darker Blue */
  }
  
  .loadingFill {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.5); /* Semi-transparent white */
    border-radius: 8px;
  }
  