/* Default theme */
.date-range-picker {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 350px;
  height: 350px;
  margin: 20px;
  border-radius: 12px;
  padding: 25px;
  font-family: "Inter", sans-serif;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 18px;
  cursor: pointer;
}

.header .month-year {
  flex-grow: 1;
  text-align: center;
}

.days-of-week {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.day-of-week {
  width: 40px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}

.calendar {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-between;
}

.day {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin: 2px;
  border-radius: 50%;
  transition: background-color 0.3s ease;
}

.day:hover {
  background-color: #f0f0f0;
}

.day.disabled {
  background-color: #f0f0f0;
  color: grey;
}

.day.selected {
  background-color: black;
  color: white;
  border: 1px solid black;
}

.day.in-range {
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
}

.year-month-selector {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-top: 10px;
}

.year-controls {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 10px;
}

.years {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 10px;
  width: 100%;
}

.months {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  width: 100%;
}

.year,
.month {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  padding: 10px;
  border-radius: 8px;
  transition: background-color 0.3s ease;
}

.year:hover,
.month:hover {
  background-color: #f0f0f0;
}

.year.selected,
.month.selected {
  background-color: black;
  color: white;
}

.arrow-icon {
  cursor: pointer;
  background-color: black;
  color: white;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.arrow-icon:hover {
  background-color: darkgray;
  color: black;
}

/* Dark theme */
.date-range-picker.dark-theme {
  background-color: #333;
  color: #fff;
}

.dark-theme .header {
  color: #fff;
}

.dark-theme .day-of-week {
  color: #fff;
}

.dark-theme .day:hover {
  background-color: #555;
}

.dark-theme .day.disabled {
  background-color: #555;
  color: grey;
}

.dark-theme .day.selected {
  background-color: rgba(255, 255, 255, 0.8);
  color: black;
  border: 1px solid white;
}

.dark-theme .day.in-range {
  background-color: rgba(255, 255, 255, 0.8);
  color: black;
}

.dark-theme .year:hover,
.dark-theme .month:hover {
  background-color: #555;
}

.dark-theme .year.selected,
.dark-theme .month.selected {
  background-color: white;
  color: #000;
}

.dark-theme .arrow-icon {
  background-color: white;
  color: black;
}

.dark-theme .arrow-icon:hover {
  background-color: rgba(255,255,255,0.7);
  color: #000;
}

/* Light theme */
.date-range-picker.light-theme {
  background-color: #f9f9f9;
  color: #333;
}

.light-theme .header {
  color: #333;
}

.light-theme .day-of-week {
  color: #333;
}

.light-theme .day:hover {
  background-color: #e0e0e0;
  color: black;
}

.light-theme .day.disabled {
  background-color: #e0e0e0;
  color: grey;
}

.light-theme .day.selected {
  background-color: black;
  color: #fff;
  border: 1px solid black;
}

.light-theme .day.in-range {
  background-color: black;
  color: #fff;
}

.light-theme .year:hover,
.light-theme .month:hover {
  background-color: #e0e0e0;
  color: black;
}

.light-theme .year.selected,
.light-theme .month.selected {
  background-color: #000;
  color: #fff;
}

.light-theme .arrow-icon {
  background-color: black;
  color: #fff;
}

.light-theme .arrow-icon:hover {
  background-color: black;
  color: #fff;
}

/* Responsive Design */
@media (max-width: 768px) {
.date-range-picker {
  max-width: 300px;
  padding: 20px;
}

.header {
  font-size: 16px;
}

.day {
  max-width: calc(100% / 7 - 2px);
}

.arrow-icon {
  width: 35px;
  height: 35px;
}
}

@media (max-width: 480px) {
.date-range-picker {
  max-width: 80%;
  margin: auto;
}

.header {
  font-size: 14px;
}

.day {
  max-width: calc(100% / 7 - 1px);
}

.arrow-icon {
  width: 30px;
  height: 30px;
}
}

@media (max-width: 320px) {
.date-range-picker {
  padding: 10px;
}

.header {
  font-size: 12px;
}

.day {
  max-width: 100%;
  height: 25px;
  margin: 1px 0;
}

.day-of-week {
  font-size: 12px;
}

.arrow-icon {
  width: 25px;
  height: 25px;
}
}