/* Default theme */
.date-range-picker {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem;
  border-radius: 1rem;
  padding: 2rem;
  font-family: "Inter", sans-serif;
  overflow-x: hidden;
  overflow-y: hidden;
  -webkit-tap-highlight-color: transparent !important;
  outline: none !important;
  user-select: none;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 0.5rem;
  font-weight: bold;
  font-size: 1rem;
  cursor: pointer;
}

.header .month-year {
  flex-grow: 1;
  text-align: center;
}

.days-of-week {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 0 auto;
}

.days {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.day-of-week {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 1rem;
  margin: 0 0px;
  padding: 0px;
}

.calendar {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.week {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.day {
  width: 2rem;
  height: 2rem;
  font-size: 1rem;
  padding: 0.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 50%;
  transition: background-color 0.3s ease;
}

.day:hover {
  background-color: #f0f0f0;
}

.day.disabled {
  background-color: #f0f0f0;
  color: grey;
}

.day.selected {
  background-color: black;
  color: white;
  border: 1px solid black;
}

.day.in-range {
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
}

.year-month-selector {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-top: 1rem;
}

.year-controls {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 1rem;
}

.years {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  gap: 10px;
  width: 100%;
}

.months {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  width: 100%;
}

.year,
.month {
  display: flex;
  cursor: pointer;
  padding: 1rem;
  border-radius: 1rem;
  transition: background-color 0.3s ease;
}

.year:hover,
.month:hover {
  background-color: #f0f0f0;
}

.year.selected,
.month.selected {
  background-color: black;
  color: white;
}

.arrow-icon {
  cursor: pointer;
  background-color: black;
  color: white;
  width: 2rem;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.arrow-icon:hover {
  background-color: darkgray;
  color: black;
}

/* Dark theme */
.date-range-picker.dark-theme {
  background-color: #333;
  color: #fff;
  padding: 2rem;
}

.dark-theme .header {
  color: #fff;
}

.dark-theme .day-of-week {
  color: #fff;
}

.dark-theme .day:hover {
  background-color: #555;
}

.dark-theme .day.disabled {
  background-color: #555;
  color: grey;
}

.dark-theme .day.selected {
  background-color: rgba(255, 255, 255, 0.8);
  color: black;
  border: 1px solid white;
}

.dark-theme .day.in-range {
  background-color: rgba(255, 255, 255, 0.8);
  color: black;
}

.dark-theme .year:hover,
.dark-theme .month:hover {
  background-color: #555;
}

.dark-theme .year.selected,
.dark-theme .month.selected {
  background-color: white;
  color: black;
}

.dark-theme .arrow-icon {
  background-color: white;
  color: black;
}

.dark-theme .arrow-icon:hover {
  background-color: rgba(255, 255, 255, 0.7);
  color: black;
}

/* Light theme */
.date-range-picker.light-theme {
  background-color: #f9f9f9;
  color: #333;
  padding: 2rem;
}

.light-theme .header {
  color: #333;
}

.light-theme .day-of-week {
  color: #333;
}

.light-theme .day:hover {
  background-color: #e0e0e0;
}

.light-theme .day.disabled {
  background-color: #e0e0e0;
  color: grey;
}

.light-theme .day.selected {
  background-color: black;
  color: white;
  border: 1px solid black;
}

.light-theme .day.in-range {
  background-color: black;
  color: white;
}

.light-theme .year:hover,
.light-theme .month:hover {
  background-color: #e0e0e0;
}

.light-theme .year.selected,
.light-theme .month.selected {
  background-color: black;
  color: white;
}

.light-theme .arrow-icon {
  background-color: black;
  color: white;
}

.light-theme .arrow-icon:hover {
  background-color: black;
  color: white;
}

/* Responsive Design */
@media (max-width: 768px) {
  .date-range-picker {
    width: 100%;
    margin: auto;
    padding: 1.5rem 2rem;
  }

  .header {
    font-size: 0.875rem;
  }

  .day {
    width: 1.75rem;
    height: 1.75rem;
    margin: 0.15rem;
  }

  .day-of-week {
    font-size: 0.9rem;
  }

  .arrow-icon {
    width: 1.5rem;
    height: 1.5rem;
    padding: 0.5rem;
  }
}

@media (max-width: 480px) {
  .date-range-picker {
    width: 100%;
    margin: auto;
    padding: 1.5rem 2rem;
  }

  .header {
    font-size: 0.75rem;
  }

  .day {
    font-size: 1rem;
    width: 1.5rem;
    height: 1.5rem;
    margin: 0.4rem;
  }

  .arrow-icon {
    width: 1.25rem;
    height: 1.25rem;
    padding: 0.5rem;
  }
}
